@media screen and (max-width: 1080px){
    * {
        width: 100%;
        box-sizing: border-box;
    }
    li{
        float: none;

    }
    .line1{

        font-size: 15px;
    }
    .main_header{
        display: flex;
        flex-direction: column;
    }
    .logo{
        text-align: center;
        border: none;
    }
    .logo_2{
        height: 350px;
        width: 350px;
    }
    .col_1{
        width: 100%;
        flex-direction: column;
    }
    .col_2{
        width: 100%;
    }
    .col_3{
        width: 100%;
    }
    td.td1{
        display: none;
    }
    th.th1{
        display: none;
    }

}
body{
    font-family: cursive;
    margin: 0;
    padding: 0;

}
ul{
    background-color: #333;
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
    box-shadow: 5px 5px 10px 10px rgba(0,0,0,0.1);


}
@keyframes fade_in{

}
li {
    float: left;
    border-right:1px solid #bbb;
}

li:last-child {
    border-right: none;
    border-left: 1px solid #bbb;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #bbb;
}

li a.active {
    background-color: green;
}
.line1{
    width: 100%;
    background: linear-gradient(#FFDF00,#D2691E);
    text-align: center;
    height: auto;
    box-shadow: 5px 10px 8px #888888;
}
.tubg {
    font-size: 55px;
    text-shadow: 3px 2px ;
    font-family: teko;
    font-weight: bold;
}
/*.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}*/
h1{
    text-shadow: 1px 1px #888888;
    text-decoration: underline;
    text-align: center;
}


.notif12{
    width: 100%;
    animation-name:  blink;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    text-align: center;
    transition: 0.2s;
}

@keyframes blink{
    from{color;red;}
    to{color:blue;}
}


.one1{
    animation: mymove 20s infinite;
    position: relative;
    color: #ff993a; 
    font-size: 25px;
}.header {
    text-align: center;
    text-decoration: underline;
}
.btn{
    box-shadow: 2px 2px gray;
    text-align: center;
    width: 50%;
    margin: 10px;
    background-color: white;  
}


.btn:hover{
    margin-left: 25%;
    margin-right: 25%;
    transition: 0.5s;
    transform: scale(1.3);
}
a{
    display: block;
    text-decoration: none;
}
input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;}
input[type=button]{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
input[type=submit], button {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.notif_page{
    box-shadow: 2px 5px 15px 15px gray;
    animation: rows 20s infinite;
}
.table1{
    width: 100%;
}

td{
    border-bottom:  1px dotted;
    border-right: 1px dotted;
}
th{
    border: 3px outset;
}
@keyframes mymove {
    0% {left:100px;}
    50% {left:100px;}
    75% {left:100px;}
    100% {left:100px;}
}
.main_header {
    width: 100%;
    display: flex;
}

.logo {
    padding: 5px;
    animation: logo_anime 5s;
    animation-delay: 2s;
    transition: 0.3s;
}
@keyframes logo_anime{
    from(opacity:0.5;)
    to{opacity:1;}
}
.nav-bar {
    width: 100%;
    padding: 15px;
    box-shadow: 2px 3px 5px 2px #ccc;
    animation: fade_in;
    animation-delay: 2s;
    animation-duration: 3s;

}
.col_1{
    display: flex;

}
.col_2{
    padding: 5px;
    text-align: center;
    box-shadow: 2px 2px 3px 2px gray;
    width: 100%;
}
.col_3{
    padding: 5px;
    box-shadow: 2px 2px 3px 2px gray;
    text-align: center;
    width: 100%;
}

img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;

}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
img.logo_2{
    animation: logo_anime;
    animation-delay: 3s;
    animation-duration: 2s;
    animation-iteration-count: 2;

}
@keyframes logo_anime{
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
